body
    background-color: #c0c0c0
main 
    display: flex
    justify-content: space-around

.main-table
    width: 838px
    height: 100%
    table
        text-align: center
        border-collapse: collapse
        thead
            font-weight: bold
            background-color: #dadada
        tbody
            tr
                background-color: #ffffff
        td
            border: 1px solid #c0c0c0
            padding: 10px

.plan
    position: relative
    a
        text-decoration: none
        color: black
    span
        font-weight: bold
        display: block
        padding-top: 3px
    img
        border-radius: 50px
        width: 784px
        height: 900px
    &__point
        position: absolute
        background-color: white
        width: 20px
        height: 20px
        text-align: center
        border-radius: 50%
        border: 1px solid black
        font-size: 12px
#point_1
    top: 320px
    right: 335px
#point_2
    top: 240px
    right: 407px
#point_3
    top: 172px
    right: 468px
#point_4
    top: 85px
    right: 545px
#point_5
    top: 58px
    right: 583px
#point_6
    top: 443px
    right: 277px
#point_7
    top: 478px
    right: 310px
#point_8
    top: 523px
    right: 355px
#point_9
    top: 565px
    right: 398px
#point_10
    top: 640px
    right: 480px
#point_11
    top: 720px
    right: 545px
#point_12
    top: 780px
    right: 600px

.image-window
    position: absolute
    display: none
    height: 100%
    width: 100%
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 0 auto
    background: rgba(68, 68, 68, 0.8)
    -webkit-transition: opacity 400ms ease-in
    -moz-transition: opacity 400ms ease-in
    transition: opacity 400ms ease-in
    z-index: 1000
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    &__close-btn
        position: absolute
        top: 11px
        right: 620px
        display: block
        width: 40px
        height: 40px
        background-color: #7a7a7a
        border-radius: 50%
        color: white
        text-align: center
        vertical-align: middle
    &__close-btn:before, &__close-btn:after
        position: absolute
        left: 19px
        top: 8px
        content: ' '
        height: 23px
        width: 2px
        background-color: #bdbcbc
    &__close-btn:before
        transform: rotate(45deg)
    &__close-btn:after
        transform: rotate(-45deg)
    &__panel
        width: 588px
        height: 120px
        background-color: white
        border-radius: 50px
        text-align: center
    &__title
        font-weight: bold
    &__archive
        a
            font-weight: bold
            color: black
    img
        width: 588px
        height: 785px
        border-radius: 50px
.image-window:target
    display: flex
    pointer-events: auto

.report-window
    position: absolute
    display: none
    height: 100%
    width: 100%
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 0 auto
    background: rgba(68, 68, 68, 0.8)
    -webkit-transition: opacity 400ms ease-in
    -moz-transition: opacity 400ms ease-in
    transition: opacity 400ms ease-in
    z-index: 1000
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    &__close-btn
        position: absolute
        top: 95px
        right: 420px
        display: block
        width: 40px
        height: 40px
        background-color: #7a7a7a
        border-radius: 50%
        color: white
        text-align: center
        vertical-align: middle
    &__close-btn:before, &__close-btn:after
        position: absolute
        left: 19px
        top: 8px
        content: ' '
        height: 23px
        width: 2px
        background-color: #bdbcbc
    &__close-btn:before
        transform: rotate(45deg)
    &__close-btn:after
        transform: rotate(-45deg)
    &__panel
        position: relative
        width: 1000px
        height: 650px
        background-color: white
        border-radius: 50px
        text-align: center
    &__title
        font-weight: bold
        font-size: 18px
    &__text
        font-size: 18px
        padding: 0 20px

.report-window:target
    display: flex
    pointer-events: auto