body
    background-color: #222222

@mixin hide
    &_hide
        display: none

@mixin show
    &_show
        display: block
    
.main
    display: flex
    justify-content: space-around

.main-table
    width: 838px
    height: 100%
    table
        text-align: center
        border-collapse: collapse
        thead
            font-weight: bold
            background-color: #dadada
        tbody
            tr
                background-color: #ffffff
        td
            border: 1px solid #c0c0c0
            padding: 10px

.plan
    position: relative
    a
        text-decoration: none
        color: black
    img
        border-radius: 50px
        width: 784px
        height: 900px
    &__point
        position: absolute
        background-color: white
        width: 15px
        height: 15px
        text-align: center
        border-radius: 50%
        border: 1px solid black
        font-size: 8px
        font-weight: bold
        display: block
        padding-top: 3px
        cursor: pointer

.modal
    @include hide
    @include show
    position: fixed
    display: none
    top: 0
    left: 0
    z-index: 1050
    width: 100%
    height: 100%
    overflow: hidden
    background-color: rgba(0, 0, 0, .5)
    font-size: 18px
    &__image-wrapper
        display: block
        width: 100%
        overflow: hidden
        margin: 0 auto
        padding-top: 40px
    &__image-inner
        display: flex
        height: 100%
    &__image-card
        width: 100%
        height: 100%
    &__content
        display: flex
        width: 34vw
        height: 100vh
        flex-direction: column
        justify-content: center
        position: relative
        margin: 0 auto
        padding: 0px 40px
        background-color: #fff
        border: 1px solid rgba(0, 0, 0, .2)
        border-radius: 4px
        &_auth
            width: 30vw
            height: 30vh
            align-items: center
            margin: 30vh auto
            padding: 20px 20px
    &__close
        position: absolute
        top: 8px
        right: 14px
        font-size: 30px
        color: #000
        opacity: .5
        font-weight: bold
        border: none
        background-color: transparent
        cursor: pointer
    &__next
        position: absolute
        width: 40px
        height: 40px
        cursor: pointer
        opacity: .5
        top: 45%
        right: 0px
        background-image: url("../images/icons/next.svg")
    &__back
        position: absolute
        width: 40px
        height: 40px
        cursor: pointer
        opacity: .5
        top: 45%
        left: 0px
        background-image: url("../images/icons/back.svg")
    &__title
        padding: 10px 0 10px 0
        text-align: center
        font-weight: bold
    &__text
        padding-top: 20px
    &__date
        padding-top: 10px
        padding-bottom: 40px
        text-align: center
    &__img
        width: 100%
        height: 100%
    &__input-error
        position: relative
        margin-bottom: 8px

.loader
    position: fixed
    display: none
    top: 0
    left: 0
    z-index: 1050
    width: 100%
    height: 100%
    overflow: hidden
    background-color: rgba(0, 0, 0, .3)
    &__spinner
        position: absolute
        top: 50%
        left: 50%
        margin-top: -256px
        margin-left: -256px
        width: 512px
        height: 512px
        background-image: url("../images/icons/spinner.svg")

.input
    padding: 0 0 0 8px
    width: 240px
    height: 38px
    background: #FFFFFF
    border: 1px solid #C2C9D1
    border-radius: 8px
    font-size: 14px
    &:hover
        border: 1px solid #3E66FB
    &:focus
        border: 1px solid #3E66FB
        outline: none
    &_margin
        &_bottom
            margin-bottom: 8px

.button
    width: 100px
    height: 40px
    text-transform: uppercase
    border: 1px solid grey
    border-radius: 8px

.input-error
    @include show
    @include hide
    &__icon
        position: absolute
        left: -22px
        display: block
        width: 16px
        height: 16px
        background-image: url("../images/icons/Warning.svg")
        background-repeat: no-repeat
        background-size: contain
    &__text
        font-size: 12px
        color: rgba(0, 0, 0, 0.5)
        line-height: 17px

.show
    display: block

.hide
    display: none

.filter-blur
    filter: 10px

.error-border
    border: 1px solid #F03738

@media screen and ( max-width: 1600px )
    .modal
        &__dialog
            width: 34%