body {
  background-color: #c0c0c0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-table {
  width: 838px;
  height: 100%;
}

.main-table table {
  text-align: center;
  border-collapse: collapse;
}

.main-table table thead {
  font-weight: bold;
  background-color: #dadada;
}

.main-table table tbody tr {
  background-color: #ffffff;
}

.main-table table td {
  border: 1px solid #c0c0c0;
  padding: 10px;
}

.plan img {
  border-radius: 50px;
  width: 784px;
  height: 900px;
}

.plan__point {
  position: absolute;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
}

.plan__point a {
  text-decoration: none;
  color: black;
}

.plan__point span {
  font-weight: bold;
  display: block;
  padding-top: 3px;
}

.plan__point:nth-child(1) {
  top: 320px;
  right: 335px;
}

.plan__point:nth-child(2) {
  top: 240px;
  right: 407px;
}

.plan__point:nth-child(3) {
  top: 172px;
  right: 468px;
}

.plan__point:nth-child(4) {
  top: 85px;
  right: 545px;
}

.plan__point:nth-child(5) {
  top: 58px;
  right: 583px;
}

.plan__point:nth-child(6) {
  top: 443px;
  right: 277px;
}

.plan__point:nth-child(7) {
  top: 478px;
  right: 310px;
}

.plan__point:nth-child(8) {
  top: 523px;
  right: 355px;
}

.plan__point:nth-child(9) {
  top: 565px;
  right: 398px;
}

.plan__point:nth-child(10) {
  top: 640px;
  right: 480px;
}

.plan__point:nth-child(11) {
  top: 720px;
  right: 545px;
}

.plan__point:nth-child(12) {
  top: 780px;
  right: 600px;
}

.image-window {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: #444444;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.image-window__panel {
  width: 588px;
  height: 120px;
  background-color: white;
  border-radius: 50px;
  text-align: center;
}

.image-window__title {
  font-weight: bold;
}

.image-window__archive a {
  font-weight: bold;
  color: black;
}

.image-window img {
  width: 588px;
  height: 785px;
  border-radius: 50px;
}

.close-btn {
  position: absolute;
  display: block;
  top: 11px;
  right: 620px;
  width: 40px;
  height: 40px;
  background-color: #7a7a7a;
  border-radius: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.close-btn:before, .close-btn:after {
  position: absolute;
  left: 19px;
  top: 3px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #bdbcbc;
}

.close-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */